
<div class="m-5 card">
  <form class="m-5">
    <div class="form-group">
      <label for="exampleFormControlInput1">Subject</label>
      <input required #subject="ngModel" [(ngModel)]="createMeetingModelObject.subject" name="subject" type="text" class="form-control"
        id="exampleFormControlInput1" placeholder="Input subject">
    </div>
    <div class="alert alert-danger"
    *ngIf="(subject.touched && !subject.valid)">*Subject is required
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Date: </label>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input required #date="ngModel" [(ngModel)]="createMeetingModelObject.date" format="YYYY/MM/DD"
         name="date" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="alert alert-danger"
    *ngIf="(date.touched && !date.valid)">*Date is required
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label for="exampleFormControlSelect1">HH:</label>
          <select required #HH="ngModel" [(ngModel)]="createMeetingModelObject.HH" name="HH" class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let time of ['01','02','03','04','05','06','07','08','09','10','11','12']">{{time}}</option>
          </select>
          <div class="alert alert-danger"
    *ngIf="(HH.touched && !HH.valid)">*HH is required
    </div>
        </div>
        <div class="col-md-3">
          <label for="exampleFormControlSelect1">MM:</label>
          <select required #MM="ngModel" [(ngModel)]="createMeetingModelObject.MM" name="MM" class="form-control" id="exampleFormControlSelect2">
            <option *ngFor="let time of ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16
            ','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','
            36','37','38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54
            ','55','56','57','58','59']">{{time}}</option>
          </select>
          <div class="alert alert-danger"
    *ngIf="(MM.touched && !MM.valid)">*MM is required
    </div>
        </div>
        <div class="col-md-3">
          <label for="exampleFormControlSelect1">AM/PM:</label>
        <select required #noon="ngModel" [(ngModel)]="createMeetingModelObject.noon" name="noon" class="form-control" id="exampleFormControlSelect3">
          <option *ngFor="let time of ['AM','PM']">{{time}}</option>
        </select>
        <div class="alert alert-danger"
    *ngIf="(noon.touched && !noon.valid)">*Noon is required
    </div>
        </div>
        <div class="col-md-3">
          <label for="exampleFormControlSelect1">Duration(in minutes):</label>
        <select required #duration="ngModel" [(ngModel)]="createMeetingModelObject.duration" name="duration" class="form-control" id="exampleFormControlSelect4">
          <option *ngFor="let time of ['30','45','60','90','120','180']">{{time}}</option>
        </select>
        <div class="alert alert-danger"
    *ngIf="(duration.touched && !duration.valid)">*duration is required
    </div>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlInput1">Facilitated By</label>
      <input required #hostedBy="ngModel" [(ngModel)]="createMeetingModelObject.hostedBy" name="hostedBy" type="text" class="form-control"
        id="exampleFormControlInput1" placeholder="Input Facilitator">
    </div>
    <div class="alert alert-danger"
    *ngIf="(hostedBy.touched && !hostedBy.valid)">*Facilitated by is required
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">programs: </label>
      <div class="form-check form-check-inline">
        <input  class="form-check-input" (change)="onCheck($event)"
          [(ngModel)]="createMeetingModelObject.inlineCheckbox1" name="inlineCheckbox1" type="checkbox"
          id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">All</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
          [(ngModel)]="createMeetingModelObject.inlineCheckbox2" name="inlineCheckbox2" type="checkbox"
          id="inlineCheckbox2" value="option2" [disabled]="disableCheckBox">
        <label class="form-check-label" for="inlineCheckbox2">CS</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
          [(ngModel)]="createMeetingModelObject.inlineCheckbox3" name="inlineCheckbox3" type="checkbox"
          id="inlineCheckbox3" value="option3" [disabled]="disableCheckBox">
        <label class="form-check-label" for="inlineCheckbox3">CIS</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
          [(ngModel)]="createMeetingModelObject.inlineCheckbox4" name="inlineCheckbox4" type="checkbox"
          id="inlineCheckbox4" value="option4" [disabled]="disableCheckBox">
        <label class="form-check-label" for="inlineCheckbox4">IT</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
          [(ngModel)]="createMeetingModelObject.inlineCheckbox5" name="inlineCheckbox5" type="checkbox"
          id="inlineCheckbox5" value="option5" [disabled]="disableCheckBox">
        <label class="form-check-label" for="inlineCheckbox5">DS</label>
      </div>
    </div>
    <div class="alert alert-danger"
    *ngIf="(!createMeetingModelObject.inlineCheckbox1 && !createMeetingModelObject.inlineCheckbox2
    &&!createMeetingModelObject.inlineCheckbox3 && !createMeetingModelObject.inlineCheckbox4
    && !createMeetingModelObject.inlineCheckbox5)">*Program is required
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1"> Agenda List</label>
      <div class ="row" *ngFor="let item of items">
        <div class="col-md-10">
          <label for="exampleFormControlInput1"> Agenda</label>
        <input required #itemId="ngModel" [(ngModel)]="item.agenda" name="{{item.id}}agenda" type="text" class="form-control"
         placeholder="Input Agenda">
        </div>
         <div class="col-md-2">
         <label for="exampleFormControlSelect1">Duration(in minutes):</label>
        <select [(ngModel)]="item.duration" name="{{item.id}}duration" class="form-control">
          <option *ngFor="let time of [5,10,15,20,25,30]">{{time}}</option>
        </select>
      </div>
         <div class="alert alert-danger"
          *ngIf="(itemId.touched && item.agenda=='')">*Agenda is required
          </div>
          
        </div>
        <button (click)=newAgendaItem()>Add</button>
        <button (click)=cancelAgendaItemInput()>Cancel</button>
        
    </div>
  </form>
  <div>
    <button  class="btn btn-primary" (click)="submitToSaveMeeting()">Save</button>
    <button  class="btn" (click)="cancel()">cancel</button>
  </div>
</div>